@import "tailwindcss";

:root {
  --background: 248 250 252;
  --foreground: 75 85 99;
  --primary: 126 34 206;
  --primary-foreground: 248 250 252;
  --secondary: 34 139 34;
  --secondary-foreground: 248 250 252;
  --accent: 70 130 180;
  --accent-foreground: 248 250 252;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --muted: 210 40% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
}
